body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #forecast-container{
    display: flex;
    justify-content: space-around;
  }

  .forecast{
    flex: 1;
    text-align: center;
    margin: 1em;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }