<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Page</title>
    <link rel="icon" type="image/png" href="Weather Or Not LOGO (2).png">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1 class="main-heading">Weather Or Not</h1>
      <div class="Location-button">
          <!-- <a href="Login Page.html" >Login</a> -->
          <button onclick="location.href='Login Page.html'">Login </button>

          <!-- <a href="register.html" >Register</a> -->
          <button onclick="location.href='register.html'">Register</button>

      </div>

      <div class="Location-button">
        <!-- <a href ="forecast.html" class="main">Main</a> -->
        <button onclick="location.href='forecast.html'">Forecast</button>
      </div>

      <div class="desc">      
        <p>
            </br>Weather or Not is a new way to look at weather! It allows for you the user to login/register to the website and then enter </br>
                the location that you want to see the weather for the next three days! Allowing you to check any location in the world!
        </p>
    </div>
<script src= "script.js"></script>
</body>
</html>