<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Weather Or Not - Register</title>
<link rel="icon" type="image/png" href="logo.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="login-container">
  <div class="login-form">
    <h1>Register</h1>
    
    <div id="error-container" style="color: red; text-align: center;"></div>
    
    <form action="/Configs/RegisterHandler.php" method="post">
      <div class="input-group">
        <label for="new-username">Username:</label>
        <input type="text" id="new-username" name="new-username" required>
      </div>
      <div class="input-group">
        <label for="password">Password:</label>
        <div class="input-icon-container">
          <input type="password" id="password" name="password" required>
          <i class="fas fa-eye password-icon" onclick="togglePasswordVisibility('password', this)"></i>
        </div>
      </div>
      <div class="input-group">
        <label for="confirm-password">Confirm Password:</label>
        <div class="input-icon-container">
          <input type="password" id="confirm-password" name="confirm-password" required>
          <i class="fas fa-eye password-icon" onclick="togglePasswordVisibility('confirm-password', this)"></i>
        </div>
      </div>
      <button type="submit">Register</button>
    </form>
  </div>
</div>

<script>
window.onload = function() {
  var urlParams = new URLSearchParams(window.location.search);
  if(urlParams.has('error')) {
    var error = urlParams.get('error');
    var errorMessage = '';
    if(error === 'empty-fields') {
      errorMessage = 'You must enter values in all fields!';
    } else if(error === 'password-mismatch') {
      errorMessage = 'The passwords do not match!';
    } else if(error === 'username-exists') {
      errorMessage = 'The username is already registered!';
    } else if(error === 'registration-failed') {
      errorMessage = 'Registration failed. Please try again.';
    }
    if(errorMessage) {
      document.getElementById('error-container').innerText = errorMessage;
      document.getElementById('error-container').style.display = 'block';
    }
  }
}
</script>
<script src= "/Scripts/script.js"></script>
</body>
</html>
